body {
    /* margin: 100px; /* Add appropriate units, e.g., pixels (px) */
    /* padding: 100px; Add appropriate units, e.g., pixels (px) */
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    background-image: url('BG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Change to no-repeat if you don't want the background image to repeat */
    filter: blur(5px); /* Adjust the pixel value for the desired level of blur */
    z-index: -1;
  }

    .form-label{
            color: black;
    }

    .table ,.table-bordered{
        color: white;
    }

    .image-container{
        width: 300px;
        overflow: hidden;
    }
    .image-container img{
        width: 50%;
        height: auto;
    }